<div class="input-container">
  <div class="input-input">
    <div class="input-container1">
      <div class="input-label">
        <span class="input-text">
          <span class="input-text1">Aktebezeichnung*</span>
          <span>:</span>
        </span>
      </div>
    </div>
    <div class="input-container2">
      <div class="input-text3">
        <input
          type="text"
          [attr.placeholder]="InputContent_placeholder"
          class="input-input-content"
        />
      </div>
    </div>
  </div>
</div>
