.component2-container {
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-end;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
}
.component2-input {
  width: 220px;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 15px;
  flex-direction: column;
}
.component2-bottom {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.component2-text {
  color: var(--dl-color-el.normallgemein-dunkelblau100);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.component2-text1 {
  color: #336f91;
}
.component2-top {
  height: 37px;
  display: flex;
  padding: 0 16px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(160, 209, 93, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(204, 219, 228, 0);
}
.component2-input-content {
  color: rgba(87, 97, 100, 1);
  display: flex;
  position: relative;
  flex-grow: 1;
  font-size: 16px;
  align-self: stretch;
  text-align: left;
  align-items: flex-start;
  font-family: Quicksand;
  font-weight: 400;
  border-color: transparent;
  flex-direction: column;
  justify-content: space-between;
}
