<div class="component-container">
  <div class="component-frame2084">
    <img
      [attr.alt]="Vector31_alt"
      [attr.src]="Vector31_src"
      class="component-vector31"
    />
    <div class="component-frame2052">
      <div class="component-frame1848">
        <div class="component-frame18481">
          <img
            [attr.alt]="fluentcheckboxchecked20regular_alt"
            [attr.src]="fluentcheckboxchecked20regular_src"
            class="component-fluentcheckboxchecked20regular"
          />
        </div>
      </div>
      <span class="component-text">
        <span>
          Interne Prüfung
          <span [innerHTML]="rawh2r8"></span>
        </span>
        <br />
        <span>abgeschlossen</span>
      </span>
    </div>
  </div>
</div>
